.NotificationInscription {
  display: flex;
  justify-content: center;
  width: 700px;
}

.NotificationInscription__title {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  color: #494b4be6;
}
