.FeedbackButtons__section {
  display: grid;
  height: 250px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: center;
}

.FeedbackButtons__item {
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.FeedbackSection__title {
  display: inline-flex;
  font-size: 27px;
  font-style: italic;
  font-weight: 200;
  padding-left: 35px;
  padding-bottom: 20px;
  margin-top: 40px;
  color: #605d62f3;
}
.FeedbackButtons__button {
  display: block;
  width: 175px;
  height: 60px;
  margin: 0 30px;
  border: none;
  border-radius: 0.8em;
  color: #cfbcd84e;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all ease-out 350ms;
  box-shadow: 0px 15px 49px 0 #584d669b;
  background: linear-gradient(#483e4e93, #000000b8, #000000);
}

.FeedbackButtons__button:hover {
  transition: all 250ms;
  transform: scale(1.17);
  font-size: 12px;
  border-radius: 1.1em;
  border: none;
}

.FeedbackButtons__button:nth-child(1):hover {
  color: #026b2cf6;
  box-shadow: 0px 15px 49px 0 #00581f6a;
  background: linear-gradient(#00480b80, black, #000000);
}

.FeedbackButtons__button:nth-child(2):hover {
  color: #02436bf6;
  box-shadow: 0px 15px 49px 0 #0042586a;
  background: linear-gradient(#0148697a, black, #000000);
}

.FeedbackButtons__button:nth-child(3):hover {
  color: #6b0202f3;
  box-shadow: 0px 15px 49px 0 #7e01166a;
  background: linear-gradient(#64030378, black, #000000);
}
