.StatisticsList {
  position: relative;
  display: flex;
  width: 700px;
  margin: 0 auto;
  padding: 0;
  justify-content: space-evenly;
}

.StatisticsList__item {
  display: grid;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
  color: #494b4be6;
}

.StatisticsList__item:nth-child(1) {
  position: absolute;
  display: flex;
  font-size: 30px;
  left: 25px;
  top: -115px;
}

.StatisticsList__item:nth-child(2) {
  position: absolute;
  font-size: 30px;
  left: 260px;
  top: -115px;
}

.StatisticsList__item:nth-child(3) {
  position: absolute;
  font-size: 30px;
  left: 495px;
  top: -115px;
}

.StatisticsList__item:nth-child(4) {
  display: inline-block;
  align-items: baseline;
  width: 280px;
  height: 70px;
  justify-content: space-around;
  margin: 10px;
}

.StatisticsList__item:nth-child(5) {
  display: block;
  align-items: baseline;
  width: 280px;
  height: 70px;
  justify-content: space-around;
  margin: 10px;
}

.StatisticsList__itemNumber {
  color: #9e9e9e86;
  font-size: 50px;
  font-weight: 200;
}

.StatisticsList__itemPercent {
  font-size: 18px;
  color: #d7d9db86;
}
