.MainSection {
  display: flex;
  width: 750px;
  height: 400px;
  margin: 100px auto;
  border-radius: 1.5em;
  border: none;
  background: #06070717;
  box-shadow: 0 8px 32px 0 #3d3d3d72;
  backdrop-filter: blur(3.7px);
  -webkit-backdrop-filter: blur(3.7px);
  border: 1px solid #c1c0c018;
}
