.MainSection {
  padding-top: 15px;
  display: flex;
  width: 750px;
  height: 400px;
  margin: 100px auto;
  border-radius: 1.5em;
  border: none;
  background: #000000cc;
  box-shadow: -5px 5px 99px 0 #3f232ac7;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #8672904b;
}
